.MenuItem {
    display: flex;
    float: left;
    padding: 0 7px;
    justify-content: center;
    align-items: center;
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.MenuItem:hover {
    background: #3a3a3a;
}

.MenuItemSpacer {
    display: flex;
    float: left;
    padding: 0 7px;
    justify-content: center;
    align-items: center;
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}